:root {
  --parking-font-sans: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  --parking-font-title: "Ubuntu", "Century Gothic", sans-serif;
  --parking-font-decorative: "Brittany", "Brush Script MT", cursive;
}
